# Jupyter Notebooks

The [nbsphinx extension](https://github.com/spatialaudio/nbsphinx) allow notebooks to be seemlessly integrated into a Sphinx website.  This page demonstrates how notebooks are rendered.

## DataFrames

pandas DataFrames are rendered with useful markup.

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'ints': [1, 2, 3], 
                   'floats': [np.pi, np.exp(1), (1+np.sqrt(5))/2],
                   'strings': ['aardvark', 'bananarama', 'charcuterie' ]})

df

   ints    floats      strings
0     1  3.141593     aardvark
1     2  2.718282   bananarama
2     3  1.618034  charcuterie

## Plots and Figures

matplotlib can be used to produce plots in notebooks

This example comes from the [matplotlib gallery](https://matplotlib.org/3.1.1/gallery/ticks_and_spines/colorbar_tick_labelling_demo.html#sphx-glr-gallery-ticks-and-spines-colorbar-tick-labelling-demo-py).

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm